/* Footer Styling */
footer {
    background-color: #242424;
    color: #dcdcdc;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .social-links {
    display: flex;
    justify-content: center;
}

footer .social-links a {
    font-size: 24px;
    margin: 0 10px;
    color: #0170b6;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .social-links a:hover {
    color: #004f64;
}

/* Push footer to the bottom */
#footer-placeholder {
    margin-top: auto;
}

@media (max-width: 480px) {
    footer p {
        font-size: 12px;
    }

    footer .social-links {
        font-size: 12px;
    }
}