/* Header Styling */
header {
    background-color: #242424;
    border-bottom: 1px solid #333;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

body {
    background-color: #1c1c1c;
    color: #dcdcdc;
    line-height: 1.6;
    padding-top: 80px; /* Adjust for the fixed header height */
}