/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #dcdcdc;
    line-height: 1.6;
    padding-top: 80px; /* Adjust for the fixed header height */
}

h2 {
    font-size: 28px;
}

/* Header Styling */
header {
    background-color: #242424;
    border-bottom: 1px solid #333;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #dcdcdc;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    vertical-align: middle; /* Ensure consistent vertical alignment */
}

nav ul li a {
    text-decoration: none;
    color: #dcdcdc;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 20px;
}

nav ul li a:hover,
nav ul li a.active,
.dropdown .dropbtn.active {
    color: #0170b6;
}

.btn {
    background-color: #0170b6;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    font-size: 16px;
}

.btn:hover {
    background-color: #004f64;
    transform: translateY(-2px);
}

/* Dropdown Styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    vertical-align: middle; /* Ensure the dropdown button aligns properly */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Position the dropdown content below the dropdown button */
    left: 0; /* Ensure dropdown starts from the left edge of the dropdown button */
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #111;
}

/* Hamburger Menu */
#menu-toggle {
    display: none;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    height: 2px;
    width: 25px;
    background-color: #dcdcdc;
    margin-bottom: 5px;
    border-radius: 5px;
}

#menu-toggle:checked + .hamburger-menu + nav ul {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger-menu {
        display: flex;
    }

    nav ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    nav ul li {
        width: 100%;
        text-align: left;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 20px;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}

/* Footer Styling */
footer {
    font-size: 24px;
    background-color: #333;
    color: #dcdcdc;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .social-links {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .social-links a {
    font-size: 24px;
    margin: 0 10px;
    color: #0170b6;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .social-links a:hover {
    color: #004f64;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .intro-text h1 {
        font-size: 24px;
    }

    .intro-text h2 {
        font-size: 20px;
    }

    .intro-text p {
        font-size: 16px;
    }

    .intro-image img {
        width: 100%;
    }

    nav ul li a {
        font-size: 18px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}
