/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    font-size: 32px;

}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* This keeps the header content in place */
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #dcdcdc;
}

.btn {
    background-color: #0170b6;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background-color: #004f64;
    transform: translateY(-2px);
}

/* Hamburger Menu */
#menu-toggle {
    display: none;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto; /* Pushes the menu to the right */
}

.hamburger-menu span {
    height: 2px;
    width: 25px;
    background-color: #dcdcdc;
    margin-bottom: 5px;
    border-radius: 5px;
}

#menu-toggle:checked ~ nav ul {
    display: block;
    position: absolute;
    padding: 10px 0;
    top: 100%; /* Places the menu below the header */
    right: 0; /* Aligns the dropdown to the right side */
    width: 100px; /* The dropdown width adjusts to content */
    background-color: #242424; /* Background color of the dropdown */
    z-index: 1000; /* Ensure the menu is above other content */
}

@media (max-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-menu {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        padding: 10px 0;
        margin: 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    nav ul li {
        width: 100%;
        text-align: left;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 20px;
    }

    .btn {
        display: none; /* Hide the button in responsive view */
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .intro-text h1 {
        font-size: 24px;
    }

    .intro-text h2 {
        font-size: 20px;
    }

    .intro-text p {
        font-size: 16px;
    }

    .intro-image img {
        width: 100%;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    section .projects {
        padding: 0;
    }

    .projects .container {
        padding: 0;
    }
}
